<h3>{{title}}</h3>

<div class="input-field">
      <input placeholder="What do you want to do" type="text" #todoText (keyup.enter)="onEnterPress(todoText.value); todoText.value = '';">
      <!--<label for="first_name">Todo Task Name</label>-->
</div>

<p *ngFor="let todo of todoList; let i=index;">
      <input type="checkbox" id="{{todo.id}}" (click)="onClick(todo.id)" />
      <label for="{{todo.id}}" class="status-indicator" appStatusHighlighter [todo]="todo">{{todo.name}}</label>
    </p>
